<header>
    {%- assign titles_size = site.pages | map: 'title' | join: '' | size -%}

    {%- if titles_size > 0 -%}
    <nav class="site-nav">
        {% if page.url == '/' %}
        <a class="site-nav__site-title site-nav__link site-nav__link--active" rel="author"
            href="{{ "/" | relative_url }}">Home</a>
        {% else %}
        <a class="site-nav__site-title site-nav__link" rel="author" href="{{ "/" | relative_url }}">Home</a>
        {% endif %}

        {%- for node in site.pages -%}
        {%- if node.title -%}
        {% if page.url == node.url %}
        <a class="site-nav__link site-nav__link--active" href="{{ node.url | relative_url }}">
            {{ node.title | escape }}
        </a>
        {% else %}
        <a class="site-nav__link" href="{{ node.url | relative_url }}">
            {{ node.title | escape }}
        </a>
        {% endif %}
        {%- endif -%}
        {%- endfor -%}
    </nav>
    {%- endif -%}
</header>