@import "reset";
@import "dracula";

/* variables */
:root {
    --site-width: 680px;
    --background-dark: #121212;
    --main-font-color: #ffffff;
    --margin-bottom: 34px;
    --base-font-size: 20px;
    --base-line-height: 34px;
    --heading-font-size: 41px;
    --heading-line-height: 64px;
}

html, body {
    background: var(--background-dark);
    color: var(--main-font-color);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Helvetica Neue", Arial, sans-serif;
    padding: .5rem;
    font-size: var(--base-font-size);
    line-height: var(--base-line-height);
}

figure.highlight {
    padding: 1rem;
    border-radius: 4px;
    margin: var(--margin-bottom) auto;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgba(255, 255, 255, .05);
}

a {
    color: inherit;
}

h1 {
    font-size: var(--heading-font-size);
    line-height: var(--heading-line-height);
    font-weight: bold;
}

footer {
    font-size: 16px;
}

header, footer, div.posts-list, article.post {
    margin: 0 auto 2rem auto;
}

div.posts-list {
    article.posts-list__post {
        margin-bottom: 1rem;

        .posts-list__post__meta {
            opacity: .60;
        }
        .posts-list__post__title {
            font-weight: bold;
            color: var(--main-font-color);

            .posts-list__post__link {
                color: var(--main-font-color);
            }
        }
    }
}

footer {
    text-align: center;
    opacity: .38;
}

.post__categories__category {
    display: inline-flex;
    border-radius: 4px;
    padding: .1rem .8rem;
    font-size: 16px;
    line-height: 28px;
    
    &.post__categories__category--react {
        background: #27dcfa;
        color: black;
    }
    &.post__categories__category--php {
        background-color: #777bb3;
    }
}

@media (min-width: 640px) {
    header, footer, div.posts-list, article.post {
        max-width: var(--site-width);
    }
}