---
layout: default
---

<div class="posts-list">
    <h1>Posts</h1>
    {% for tag in site.tags %}
        {{ tag[0] }}
    {% endfor %}

    {%- for post in site.posts -%}
        <article class="posts-list__post">
            <h3 class="posts-list__post__title">
                <a class="posts-list__post__link" href="{{ post.url | relative_url }}">
                    {{ post.title | escape }}
                </a>
            </h3>
            <span class="posts-list__post__meta">{{ post.date | date: site.noir.date_format }}</span>
        </article>
    {%- endfor -%}
</div>